name: "Template"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  find-templates:
    name: Find Templates
    runs-on: ubuntu-latest
    outputs:
      folders: ${{ steps.jobs.outputs.folders }}
    steps:
      - uses: actions/checkout@v6
      - id: jobs
        run: |
          folders=$(find templates -mindepth 1 -maxdepth 1 -type d | jq -R . | jq -sc .)
          echo "$folders"
          echo "folders=$folders" >> $GITHUB_OUTPUT

  matrix:
    name: Check template
    needs: [find-templates]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        folder: ${{ fromJSON(needs.find-templates.outputs.folders) }}
    steps:
      - uses: cachix/install-nix-action@v31
      - uses: actions/checkout@v6
      - run: nix flake check --override-input blueprint ../..
        working-directory: ${{ matrix.folder }}
